/* CEOProfile.css */
.ceo-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #000035;
  color: aliceblue;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1%;
}

.ceo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem; /* Space between image and text */
}

.ceo-image {
  border-radius: 10%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.ceo-name {
  font-size: 1.5rem;
  margin: 0;
}
.ceo-name span{
  color:antiquewhite;
}
.ceo-name span:hover{
  color: #ffea00;
}

.ceo-message {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
  flex: 1; /* Adjust the flex value to control the width relative to the image */
  max-width: 50%; /* Sets a maximum width for the message */
  padding: 0 1rem; /* Adds padding for better spacing */
  background:  #ffea00;
  color: #000035;
  border-radius: 10px;
}
.ceo-message:hover{
  background:  #000035;
  color: #ffea00;
}
/* Responsive Design */
@media (max-width: 768px) {
  .ceo-profile {
    flex-direction: column;
    text-align: center;
  }

  .ceo-header {
    margin-right: 0;
    margin-bottom: 1rem; /* Space below image for mobile view */
  }

  .ceo-message {
    max-width: 100%; /* Ensure full width on smaller screens */
    padding: 0;
  }
}
